.skill2{
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 48px 0px rgba(4,6,4,0.08)!important;
    min-height: 186px;
    max-width: 290px;
    height: 100%;
}

.skill2 .skill_title{
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
}

.skill2 .skill_description{
    display: flex;
    align-items: center;
    color: #989898 !important;
    font-weight: 400 !important;
    line-height: 18px !important;
}

.skill2 .skill_description .timeline_dot{
   border-color: var(--main-color) !important;
   padding: 2px !important;
   margin-right: 5px !important;
}

.graybg{
    background-color: #fafafa;
}