@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --primary-white:#fff;
    --primary-orange:#f9ab00;
    --primary-dark: rgba(255,255,255,0.);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
}

body {
    font-family: "Roboto Condensed" sans-serif;
}
.header-wrapper{
    background-color: darkgray;
    height: 90vh;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed" sans-serif;
    z-index: 1;
}

.main-info h1{
    color: var(--primary-orange);
    margin-top: 150px;
    text-align: center;
    text-transform: uppercase;
}

.typed-text{
    font-size: 2rem;
    color: darkcyan;
}

.btn-main{
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    padding: o.625rem 0.75rem 0.75rem 0.75rem;
    color:darkslateblue;
    margin: 2rem;
    font-size: 25px;
}

.btn-main:hover{
    text-decoration: none;
    background-color: var(--primary-hover-red);
    color: var(--primary-white);
    transition: .2s ease-in-out;
}

@media(max-width:768px){
    .particles-canvas{
        display: none;
    }
    .main-info h1{
        font-size: 1.7rem !important;

    }
    .typed-text{
        font-size: 1.3rem !important;
    }
}