.work-details {
    padding: 1rem 2rem !important;
    /* background: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); */
  }
  .work-details h6 {
    font-size: 1.5rem;
    font-weight: 600;
    color: whitesmoke;
  }
  .work-details h3 {
    font-size: 2.5rem!important;
    font-weight: 700!important;
    /* color: whitesmoke!important; */
    margin: 1rem 0;
  }
  .work-details p {
    font-style: italic;
    font-size: 15px;
    color: darkgray;
    letter-spacing: 0.5px;
    line-height: 25px;
  }
  .work-details span.tools {
    padding: 0.5rem 1rem;
    background: whitesmoke;
    margin: 0.3rem;
    border-radius: 4px;
    font-size: 14px;
  }
  .work-details .link svg.svg-inline--fa.fa-external-link-alt.fa-w-16,
  .work-details .link svg.svg-inline--fa.fa-github-square.fa-w-14 {
    font-size: 2rem;
    color: #f9004d ;
    margin: 0 0.5rem;
    margin-top: 2rem;
    transition: 0.6s ease;
  }
  .link svg.svg-inline--fa.fa-external-link-alt.fa-w-16:hover,
  .work-details .link svg.svg-inline--fa.fa-github-square.fa-w-14:hover {
    color: #fff;
    transform: scale(1.2);
  }
  .work-pic .img-fluid {
    border-radius: 16px;
    height: 24rem;
    width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    .col-md-7.work-pic {
      width: 95%;
    }
  }
  